In [150]:
import pandas as pd
import datetime

In [151]:
#reading in the file
df = pd.read_csv('hotel_bookings.csv', na_values=[' ', '-', '[Uu]ndefined', '[Nn]one'])
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [152]:
#converting the 'is_cancled' column to Boolean
df.is_canceled = df.is_canceled.astype(bool)

In [153]:
#converting the 'is_repeated_guest' column to Boolean
df.is_repeated_guest = df.is_repeated_guest.astype(bool)

In [154]:
# converting 'reservation_type_date' column to datetime types
df.reservation_status_date = pd.to_datetime(df.reservation_status_date)

In [155]:
# concatenating day, month and year columns into one
cols = ['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month']
df['arrival_date'] = df[cols].apply(lambda row: '_'.join(row.values.astype(str)), axis=1)
# converting 'arrival_date' column to datetime object
df.arrival_date =  pd.to_datetime(df.arrival_date, format='%Y_%B_%d')
# dropping the cols
df = df.drop(columns=cols)

In [156]:
# df['direct_booking'] = df[['agent', 'company']].isna().any(axis=1, skipna=False)
# df.loc[:,'agent':'direct_booking']
# lambda row:
# cols = df['agent', 'company']
df['direct_booking'] = df.apply(lambda row:True if row['agent']== 'NaN' and row['company'] =='NaN' else False)
# for each in df.head().iterrows():
#     print(each)
#     if each['agent'].isna() and each['company'].isna:
#         each['direct_booking'] = True
#     else:
#         each['direct_booking'] = False

KeyError: 'agent'

In [ ]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_week_number',
       'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'arrival_date'],
      dtype='object')

In [ ]:
df.arrival_date

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: arrival_date, Length: 119390, dtype: datetime64[ns]